body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}

.navContainer {
  position: fixed;
  width: 100vw;
  top: 0;
}

.positionAbsolute {
  position: absolute;
}

.positionFixed {
  position: fixed;
}

.carouselArrows {
  transition: all 0.1s ease-in-out;
  transform: scale(1.7);
}

.carouselArrows:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(2);
}

.triangleDiv {
  position: relative;
  margin-top: -50px;
  margin-left: -50px;
  width: 150vw;
  height: 20vh;
  transform: rotate(-3deg);
  z-index: 1;
  background-color: white;
}

.navLink {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  opacity: 0.7;
}

.navLink:hover {
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

.containerDiv {
  position: relative;
  margin-bottom: 50px;
}